*{
  box-sizing:border-box;
  margin:0vw;
  padding:0vw;
  background-position: center;
  background-size: cover;
}
body{
  width:100vw;
  height: auto;
  background-position:center;
  background-size:cover;
}
body *{
  margin:auto;
}
.header{
  width:100vw;
  height:30vw;
  text-align:center;
  display: grid;
  place-items:center;
  justify-content: center;
  align-content: center;
 background-image:url(https://source.unsplash.com/1600x900/?animal,flower);
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.header .head1{
  width: 50vw;
  height: 10vw;
  display:grid;
  place-items:center;
  text-align:center;
  margin: auto;
 }
.header .head1 h2{
  text-align:center;
  color:white;
  font-size:4vw;
  font-weight:bold;
  text-shadow:0.2vw 0.2vw 0.5vw #ddd;
  font-family:sans-serif;
}
.header .headimg{
  width: 16vw;
  height: 10vw;
  display:grid;
  place-items:center;
  align-content:center;
  justify-content:center;
  margin:auto;
}
.header .headimg img{
  width: 16vw;
  height: 10vw;
  border-radius:1.5vw;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  background-repeat: no-repeat;
 
}
.header .headimg img:hover{
  box-shadow:0vw 0.3vw 1.8vw 0vw #ddd;
  cursor:pointer;
}
.menu-bar{
  width: 100vw;
  height: 6vw;
  display:grid;
  place-items:center;
  align-content:center;
  justify-content:center;
  background-color:rgba(10,0,225,1.0);
}
.menu-bar ul{
  list-style:none;
  display:inline-flex;
  align-content:center;
  width:100vw;
  height: 5vw;
  text-align:center;
  margin: auto;
}
.menu-bar ul *{
  margin: auto;
}
.menu-bar ul li{
  width:15vw;
  height:4vw; 
  display:grid;
  place-items:center;
  border-radius:0.3vw;
}
.menu-bar ul li .fa{
  margin-right:8px;
}
.menu-bar ul li a{
  text-decoration:none;
  color:white;
  font-size:1.4vw;
  text-align: center;
  font-family:verdana;
}
.menu-bar ul li:hover{
  transition:all 0.2s ease-in;
}
.menu-bar ul li:nth-child(1){
   background:red;
  transition:all 0.2s ease-in;
}
.menu-bar ul li:hover a:hover{
  text-shadow:1px 1px 2px black;
  border-bottom:2px solid white;
}
.container1{
  width:100vw;
  height:70vw;
  overflow:hidden;
  display:flex;
  align-content:center;
  justify-content:center;
 /* background-color:rgba(84,84,84,0.8);*/
}
.container1 .sub-container1{
  width:25vw;
  text-align:center;
  height:70vw;
  display: grid;
  place-items:center;
}
.container1 .sub-container1 ul{
  display: inline;
  list-style:none;
  width:25vw;
  height:70vw;
  text-align:center;
  margin:auto;
}
.container1 .sub-container1 ul li{
width: 24vw;
height: 4.5vw;
display: flex;
place-items:center;
justify-content: center;
align-content: center;
background:#004FFFFF;
border-radius:0.3vw;
animation-name: nomore;
animation-iteration-count: infinite;
animation-duration: 28s;
margin-top: 2vw;
transition-delay:all 0.4s ease-in; 
animation-play-state: initial;
}
.container1 .sub-container1 ul li:hover{
  animation-play-state: paused;
  z-index: 1;
  box-shadow: 0vw 0.3vw 1.8vw 0vw #ddd;
  border:1px solid #ddd;
}
@keyframes nomore{
  from{
    transform: translateY(5vw);
  }
  to{
    transform: translateY(-110vw);
  }
}
.container1 .sub-container1 ul li:nth-child(1){
   animation-delay: 1s;
}
.container1 .sub-container1 ul li:nth-child(2){
   animation-delay: 1.8s;
}
.container1 .sub-container1 ul li:nth-child(3){
   animation-delay: 2.2s;
}

.container1 .sub-container1 ul li:nth-child(4){
   animation-delay: 2.6s;
}
.container1 .sub-container1 ul li:nth-child(5){
   animation-delay: 3.0s;
}
.container1 .sub-container1 ul li:nth-child(6){
   animation-delay: 3.4s;
}
.container1 .sub-container1 ul li:nth-child(7){
   animation-delay: 3.8s;
}
.container1 .sub-container1 ul li:nth-child(8){
   animation-delay: 4.2s;
}
.container1 .sub-container1 ul li:nth-child(9){
   animation-delay: 4.6s;
}
.container1 .sub-container1 ul li:nth-child(10){
   animation-delay: 4.8s;
}

.container1 .sub-container1 ul li:nth-child(11){
   animation-delay: 5.2s;
}
.container1 .sub-container1 ul li:nth-child(12){
   animation-delay: 5.6s;
}
.container1 .sub-container1 ul li:nth-child(13){
   animation-delay: 6.0s;
}

.container1 .sub-container1 ul li:nth-child(14){
   animation-delay: 6.2s;
}
.container1 .sub-container1 ul li:nth-child(15){
   animation-delay: 6.6s;
}
.container1 .sub-container1 ul li:nth-child(16){
   animation-delay: 7.0s;
}
.container1 .sub-container1 ul li:nth-child(17){
   animation-delay: 7.4s;
}
.container1 .sub-container1 ul li:nth-child(18){
   animation-delay: 7.6s;
}

.container1 .sub-container1 ul li:nth-child(19){
   animation-delay: 8.0s;
}
.container1 .sub-container1 ul li:nth-child(20){
   animation-delay: 9.2s;
}
.container1 .sub-container1 ul li a{
  text-decoration:none;
  color:white;
  font-size:1.2vw;
  font-family:courier;
}
.container1 .sub-container1 .fa{
  margin-right:8px;
  font-size: 1.2vw;
}
.container1 .sub-container1 ul li a:hover{
  border-bottom:2px dotted white;
  color:red;
  text-shadow:2px 2px 4px #efefef;
}
.container1 .sub-container2{
  width:75vw;
  height:70vw;
  background:white;
  margin: auto;
  display: grid;
  place-items:center;
}
.container1 .sub-container2 *{
  margin:auto;
}
.sub-container2  .sub-page{
  width:75vw;
  height: 35vw;
  display:flex;
  place-items:center;
  align-content:center;
  justify-content:center;
  margin:auto;
}
.sub-container2  .sub-page p{
  padding:1.5vw;
  font-size: 1.6vw;
}
.sub-container2  .sub-page p img{
  width: 30vw;
  height: 25vw;
  background-position:center;
  background-size:cover;
  border:1px solid #ddd;
}
.sub-container2  .sub-page p city{
  opacity:0.8;
  font-family:monospace;
  font-size:1.4vw;
  margin-top:2vw;
  color: rgb(141,120,120);
  font-weight: bold;
}
.sub-container2  .sub-page p img:hover{
  box-shadow:0vw 0.3vw 1.8vw 0vw #ddd;
  padding:0.5vw;
  
}
.sub-container2  .sub-page p img:hover city{
  line-height:1.0vw;
  text-align:center;
  border-spacing:0.5vw;
}
.sub-container2  .sub-page p .sub-2-page{
  width:45vw;
  height: 35vw;
  display:grid;
  place-items:center;
  align-content:center;
  justify-content:center;
  margin: auto;
  overflow: hidden;
}
.sub-page .sub-2-page h2{
  border-bottom:0.2vw solid black;
  width: 20vw;
  height: 3vw;
   color:black;
   margin-top:2vw;
   font-size: 2.0vw;
   display:grid;
  place-items:center
  margin:auto;
}
.sub-page .sub-2-page strong{
  display:grid;
  place-items:center
  width:40vw;
  height: 32vw;
  margin: auto;
  margin-top: 2vw;
  font-size: 1.3vw;
  color:rgba(123,92,90,0.9);
}

.container2{
  width:100vw;
  height:210vw;
  overflow:hidden;
  display:block;
  align-content:center;
  justify-content:center;
  background-image:linear-gradient(orange,white,green);
}
.container2 .sub-1-page{
   display:flex;
  align-content:center;
  justify-content:center;
  margin:2vw 2vw;
}
.container2 .sub-1-page #table1{
  background:transparent;
}
table tr td p .fa{
  margin:8px;
}
table,tr,th,td{
  margin:auto;
}
tr{
  width: 100vw;
}

tr,th{
  margin:0.5vw 0.5vw;
}
 td{
  width:60vw;
  height: 5vw;
  background-size:cover;
  background-position:all center;
  margin:2vw;
}
td p{
  color:red;
  font-size: 1.4vw;
}
th{
  width: 35vw;
  height: 35vw;
  margin:auto;
  background-size:cover;
  justify-content:center;
  align-content:center;
  margin-top: 2vw;
}
th img{
  width: 35vw;
  height: 35vw;
  background-position: center;
  background-size: cover;
  margin:auto;

}
.container2 .sub-2-page{
   display:grid;
   place-items:center;
  align-content:center;
  justify-content:center;
  margin:2vw 2vw;
}
.container2 .sub-2-page #table2{
  background:transparent;
}
.container2 .sub-3-page{
  display:grid;
   place-items:center;
  align-content:center;
  justify-content:center;
  margin:2vw 2vw;
}
.container2 .sub-3-page #table3{
  background:transparent;
}
.container2 .sub-4-page{
   display:grid;
   place-items:center;
  align-content:center;
  justify-content:center;
  margin:2vw 2vw;
}
.container2 .sub-4-page #table4{
  background:transparent;
}
.container2 .sub-5-page{
   display:grid;
   place-items:center;
  align-content:center;
  justify-content:center;
 margin:2vw 2vw;
}
.container2 .sub-5-page #table5{
  background:transparent;
}
.container3{
   width:100vw;
  height:110vw;
  overflow:hidden;
  display:flex;
  align-content:center;
  justify-content:center;
  background-image:url(https://source.unsplash.com/user/erondu/1600x900);
  box-shadow:0vw 0.3vw 1.8vw 0vw #ddd;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.container3 .Container-sub-page-1{
  width:80vw;
  height:80vw;
  display:grid;
  place-items:center;
}
.container3 .Container-sub-page-1 h2{
  width:80vw;
  height:10vw;
  color:white;
  font-size:4vw;
  display:grid;
  place-items:center; 
}
.container3 .Container-sub-page-1 p{
  width:60vw;
  height:20vw;
  font-size:2.4vw;
  letter-spacing: 3.5;
  line-height:1.0;
  color: rgb(141,90,120);
  display:grid;
  place-items:center; 
}
.container3 .Container-sub-page-1 a{
  color:white;
  text-decoration:none;
}
.container3 .Container-sub-page-1 button{
  width:15vw;
  height: 4vw;
  display: grid;
  place-items:center;
  font-size:1.8vw;
  border-radius:1.2vw;
  background-color:blue;
  color:white;
  text-shadow:0.2vw 0.2vw 0.8vw #ddd;
}
.container3 .Container-sub-page-1 button:hover{
  border:2px solid red;
  box-shadow:0px 0.3vw 1.8vw 0vw #ddd;
  transition:all 0.5s ease-in;
  padding:0.5vw 0.5vw;
}
.container3 .Container-sub-page-1 .Container-card1{
  box-shadow:0px 8px 16px 0px;
  background-size:cover;
  background-position:center;
  width:40vw;
  height:40vw;
  border:1px solid #fff;
}
.container3 .Container-sub-page-1 .Container-card1 img{
  background-size:cover;
  background-position:center;
  width:39.9vw;
  height:32vw;border:1px solid #fff;
}
.container3 .Container-sub-page-1 .Container-card1 img:hover{
  border-radius:1.2vw;
  box-shadow:0px 4px 12px 0px white;
  transition:all 0.5s ease-in;
}
.container3 .Container-sub-page-1 .Container-card1 city{
  color:white;
  font-family:monospace;
  text-align:center;
  margin:1vw 2vw;
  font-size: 1.0vw;
}


/* new one section added 1 */

.Container4{
  background:white;
  width:100vw;
  height:50vw;
  display:grid;
  place-items:center;
 /* border:2px solid white;*/
  margin-top:auto;
}
.Container4 .frame1{
   width:100vw;
   height:50vw;
  display:flex;
  align-content:center;
  justify-content:center;
  background:white;
  box-shadow: 0vw 0.3vw 1.8vw 0vw #ddd;
}
.Container4 .frame1 .sub-frame1{
  width:50vw;
  height:50vw;
  display:grid;
  place-items:center;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card{
  width:50vw;
  height:25vw;
  display:flex;
  place-items:center;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card .card1{
  width:25vw;
  height:25vw;
 /*border:2px solid white;*/
  display:grid;
  place-items:center;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card .card1 img{
  width:22vw;
  height:22vw;
  background-size:100% 100%;
  background-position:center;
  border:2px solid #fff;
  box-shadow: 0vw 0.3vw 1.8vw 0vw #ddd;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card .card2{
  width:25vw;
  height:20vw;
 /*border:2px solid white;*/
  display:grid;
  place-items:center;
  margin: auto;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card .card2 header{
  width:22vw;
  height:3vw;
  font-size:2vw;
 /*border:2px dotted black;*/
  color:white;
  display:grid;
  place-items:center;
  background:red;
  margin: auto;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card .card2 p{
   width:22vw;
  height:17vw;
  display:grid;
  place-items:center;
  font-size: 1.2vw;
}
.Container4 .frame1 .sub-frame1 .sub-frame-card .card2 p button{
  width:8vw;
  height:2.5vw;
  text-align:center;
  background:blue;
  color:white;
  font-size: 1.2vw;
  cursor: pointer;
}
/* END section added   1    */

.page-5{
background: rgb(120,120,120);
border:1px solid #fff;
width:100vw;
height:45vw;
margin: auto;
box-shadow: 0vw 0.3vw 1.8vw 0vw #ddd;
text-align: center;
display:inline-table;
place-items:center;
justify-content: center;
}

.page-5:hover{
background: rgb(90,80,120);
}
.page-5 .page5-head{
  width: 100vw;
  height: 5vw;
  display:flex;
  place-items:center;
  justify-content: center;
  background-color:white;
}
.page-5 header{
	color: black;
	font-size: 3.1vw;
  justify-content: center;
  text-align: center;
}
.page-5 .page5-head .fa{
  margin-right: 8px;
}
 .page-5 .sub-page-5{
  display:flex;
  place-items:center;
	background-size: cover;
	justify-content: center;
	align-content: center;
  width:100vw;
  height: 41vw;
  /* border:2px solid black;*/
}
.page-5 .sub-page-5 ul{
  width:14vw;
  height:41vw;
  display:grid;
  margin:auto;
  place-items:center;
/*  border:2px solid white;*/
	text-align:center;
	list-style:none;
}
.page-5 .sub-page-5 ul li{
  width:14vw;
  height:3vw;
  display:grid;
  place-items:center;
	margin:auto;
	font-size:1.2vw;
	font-family: courier;
}
.sub-page-5 ul li:hover{
	background: #6a5acd;
}
.page-5 .sub-page-5 ul li a{
 text-decoration:none;
 color: white;
}
.sub-page-5 ul li a:hover{
	border-bottom:0.3vw solid #ffa500;
}

/* END section added   2    */

/* new section added   3    
.Container{
  background:transparent;
  width:100%;
  height:160vh;
  display:grid;
  place-items:center;
  border:2px solid white;
  margin-top:10vh;
}
.Container .frame1{
   border:2px solid white;
   width:98%;
   height:160vh;
   display:flex;
   align-content:center;
   justify-content:center;
   background:transparent;
}
.Container .frame1 .sub-frame1{
  Width:50%;
  height:158vh;
  border:2px dotted white;
  display:grid;
  place-items:center;
}
.Container .frame1 .sub-frame1 .sub-frame-card{
  width:98%;
  height:76vh;
  border:2px solid blue;
  display:grid;
  place-items:center;
  box-shadow:0px 4px 14px 0px white;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card{
  width:98%;
  height:36vh;
  border:2px solid yellow;
  display:flex;
  align-content:center;
  justify-content:center;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card .sub-card{
  width:49%;
  height:35vh;
  border:2px dotted red;
  display:grid;
  place-items:center;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card .sub-card img{
  width:60%;
  height:18vh;
  display:grid;
  place-items:center;
  border-radius:2vh;
  background-size:100% 100%;
  background-position:center;
  box-shadow:0px 4px 12px 0px;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card .sub-card strong{
  width:98%;
  height:5vh;
  color:black;
  font-family:courier;
  display:grid;
  place-items:center;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card .sub-card button{
  width:55%;
  height:5vh;
  display:grid;
  place-items:center;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card .sub-card .btn1{
  background:red;
  color:white;
}
.Container .frame1 .sub-frame1 .sub-frame-card .card .sub-card .btn2{
  background:blue;
  color:white;
}
<!-- new section of page added   3--->
<!--<section class="Container">
  <div class="frame1"> <!--Single frame Consist Two sub frame -->
    
   <!-- <div class="sub-frame1"><!---sub frame 1 Consist two sub frame card -->
      
     <!-- <div class="sub-frame-card"><!--- sub-frame-card 1  Consist Two card -->
        <!--<div class="card"><!--- card 1 consiste Two sub card  -->
          <!--<div class="sub-card"><!---  sub card 1  -->
            <!--<img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt1" class="btn1">Save Cart</button>
            <button id="bt2" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 2-->
            <!--<img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt3" class="btn1">Save Cart</button>
            <button id="bt4" class="btn2">Buy</button>
          </div>
        </div><!---END card 1 Consist Two sub card -->
        <div class="card"><!--- card 2 consiste Two sub card -->
          <div class="sub-card"><!---sub card 3-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt5" class="btn1">Save Cart</button>
            <button id="bt6" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 4-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt7" class="btn1">Save Cart</button>
            <button id="bt8" class="btn2">Buy</button>
          </div>
        </div><!---END card 2 -->
      </div><!--- END sub-frame-card 1 -->
      
     <div class="sub-frame-card"><!--- sub-frame-card 2  Consist Two card -->
        <div class="card"><!--- card 3 consiste Two sub card -->
          <div class="sub-card"><!---sub card 5-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt9" class="btn1">Save Cart</button>
            <button id="bt10" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 6-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt11" class="btn1">Save Cart</button>
            <button id="bt12" class="btn2">Buy</button>
          </div>
        </div><!---END card 1 Consist Two sub card -->
        <div class="card"><!--- card 4 consiste Two sub card -->
          <div class="sub-card"><!---sub card 7-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt13" class="btn1">Save Cart</button>
            <button id="bt14" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 8-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt15" class="btn1">Save Cart</button>
            <button id="bt16" class="btn2">Buy</button>
          </div>
        </div><!---END card 2  -->
      </div><!--- END sub-frame-card 2  -->
    </div><!---END frame-card 1 -->
    
    <div class="sub-frame1"><!---frame-card 2  Consist Two card -->
      
      <div class="sub-frame-card"><!--- sub-frame-card 3  Consist Two card -->
        
        <div class="card"><!--- card 5 Two sub card -->
          <div class="sub-card"><!---sub card 9-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt17" class="btn1">Save Cart</button>
            <button id="bt18" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 10-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt19" class="btn1">Save Cart</button>
            <button id="bt20" class="btn2">Buy</button>
          </div>
        </div><!---END card 1 Consist Two sub card -->
        <div class="card"><!--- card 6 Two sub card -->
          <div class="sub-card"><!---sub card 11-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt21" class="btn1">Save Cart</button>
            <button id="bt22" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 12-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt23" class="btn1">Save Cart</button>
            <button id="bt24" class="btn2">Buy</button>
          </div>
        </div><!---END card 2  -->
      </div><!--- END sub-frame-card 2  -->
      
       <div class="sub-frame-card"><!--- sub-frame-card 4  Consist Two card -->
        
        <div class="card"><!--- card 7 Two sub card -->
          <div class="sub-card"><!---sub card 13-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt25" class="btn1">Save Cart</button>
            <button id="bt26" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 14-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt27" class="btn1">Save Cart</button>
            <button id="bt28" class="btn2">Buy</button>
          </div>
        </div><!---END card 1 Consist Two sub card -->
        <div class="card"><!--- card 8 Two sub card -->
          <div class="sub-card"><!---sub card 15-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt29" class="btn1">Save Cart</button>
            <button id="bt30" class="btn2">Buy</button>
          </div>
          <div class="sub-card"><!---sub card 16-->
            <img src="https://source.unsplash.com/1600x900/?Stars,galaxy">
            <strong>Short Description</strong>
            <button id="bt31" class="btn1">Save Cart</button>
            <button id="bt32" class="btn2">Buy</button>
          </div>
        </div><!---END card 2  -->
      </div><!--- END sub-frame-card 2  -->
    </div><!---END frame-card 2  Consist Two card -->
  </div><!--- END frame1-->
  </section><!--- END conatiner-->

<!-- END section of page added   3--->
/* END section added   3    */

.Footer-container{
  width:100vw;
  height:45vw;
  margin: auto;
  overflow:hidden;
  display:flex;
  align-content:center;
  justify-content:center;
  background-color:#00000f;
  background-size:cover;
  z-index: 1;
  margin-top: 2vw;
}
.Footer-container .sub-footer-container{
  /*border:2px dotted red;*/
  width:25vw;
  height:45vw;
  margin:0px;
  padding:0px;
  display: grid;
  place-items:center;
}
.Footer-container .sub-footer-container footer{
  width:25vw;
  height:45vw;
  text-align:center;
  display: grid;
  place-items:center;
}
.Footer-container .sub-footer-container footer h2{
  width:25vw;
  height:5vw;
  text-align:center;
  border-bottom:2px solid green;
  color:white;
  display: grid;
  place-items:center;
  font-weight: bold;
  font-size: 2.1vw;
}
.Footer-container .sub-footer-container footer ul{
  margin: auto;
  width:25vw;
  height:40vw;
  list-style:none;
  text-align:center;
  display:grid;
  align-content:center;
  justify-content:center;
}
.Footer-container .sub-footer-container footer ul li{
  height:5vw;
  width:20vw;
  display:inline-flex;
  justify-content: center;
  place-items:center;
}
.Footer-container .sub-footer-container footer ul li .fa{
  color:white;
  margin-right:5px;
  font-size: 1.4vw;
}
.Footer-container .sub-footer-container footer ul li  a{
  color:white;
  text-decoration:none;
  font-size: 1.4vw;
}
.Footer-container .sub-footer-container footer ul li  a:hover{
  border-bottom: 2px solid white;
  transition:all 0.4s linear ease-in-out;
  border-width:100%;
}
.footer-bottom{
   width:100vw;
  height:5vw;
  overflow:hidden;
  display:flex;
  align-content:center;
  justify-content:center;
  background-color:#000000;
  background-size:cover;
}
.footer-bottom footer{
  width:100vw;
  height:5vw;
  color:white;
  text-align:center;
  font-family:Courier;
  margin:auto;
  display:grid;
  place-items:center;
  align-content:center;
  justify-content:center;
}
.footer-bottom footer strong{
  font-size: 1.5vw;
  color: white;
}